@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: rgb(18, 90, 134);
    text-align: center;
}

header h1 {
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

main p.input {
    color: white;
    font-size: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    display: inline-block;
    
}

p {
    color: white;
    font-size: 20px;
    display: inline-block;
}
#reajuste {
    display: inline-block;
    margin-left: 10px;
    background: white;
    height: 22px;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    padding-left: 5px;
    padding-right: 5px;
}

img {
    margin-top: 20px;
}

